<% layout('layout/boilerplate') %> 
<div class="row  text-wrap">
    <div class="col-md-6 offset-md-3 text-break text-wrap">
        <div class="alert alert-danger text-wrap text-break" role="alert">
            <h4 class="alert-heading"><%= err.message %></h4>
            <h5><%= err.status %> </h5>
            <hr>
            <p class="mb-0 text-break text-wrap"><%= err.stack %> </p>
        </div>
    </div>
</div>