<% layout('layout/boilerplate') %> 

<div class="col-md-6 offset-md-3">
    <h1>Create new campground</h1>
    <hr>
    <form action="/campgrounds" method="POST">
        <div class="mb-3">
            <label for="title">Title: </label>
            <input class="form-control" type="text" id="title" name="campground[title]">
        </div>
        <div class="mb-3">
            <label for="location">Location: </label>
            <input class="form-control" type="text" id="location" name="campground[location]">
        </div>
        <div class="mb-3">
            <label for="price">Price: </label>
            <input class="form-control" type="text" id="price" name="campground[price]">
        </div>
        <div class="mb-3">
            <label for="image">Image URL: </label>
            <input class="form-control" type="text" id="image" name="campground[image]">
        </div>
        <div class="mb-3">
            <label for="description">Description: </label>
            <textarea class="form-control" type="text" id="description" name="campground[description]" rows=5></textarea>
        </div>
        <button type="submit" class="btn btn-success">Add Campground</button>
        <a class="btn btn-warning" href="/campgrounds">Go back</a>
    </form>
    <hr>
</div>